.footer {
    width: 100%;
    height: auto;
    padding: 40px 0;
    background-color: #616161;
}

/* Footer Inner */
.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.footer__logo {
    max-width: 300px;
}
.footer__logo > img {
    height: 180px;
}

/* Footer Content */
.footer__content {
    width: 100%;
    padding-top: 50px;
    color: #e3e3e3;
}

/* Footer Navs */
.footer__navs {
    text-align: right;
    width: 100%;
}

/* Footer Menu */
.footer__menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.footer__menu > li {
    margin-left: 10px;
}
.footer__link {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e3e3e3;
    background: #969867;
    border: none;
    border-radius: 50%;
    text-decoration: none;
    font-size: 22px;
}
.footer__txt {
    color: #e3e3e3;
    font-weight: 700;
}